services:
  backend:
    build:
      context: ./backend-aspdotnet
      dockerfile: Dockerfile
    mem_limit: 128m
    ports:
      - "5000:8080"
    networks:
      - maid-net
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - MongoDB__ConnectionString=mongodb://mongo:27017
      - MongoDB__DatabaseName=mydb
      - PostgreSQL__ConnectionString=Host=postgres;Port=5432;Database=maid_app;Username=aspdotnet;Password=aspdotnet
      - DJANGO_BASE_URL=http://host.docker.internal:8000
    depends_on:
      postgres:
        condition: service_healthy
      mongo:
        condition: service_healthy

  django:
    build:
      context: ./backend-django
      dockerfile: Dockerfile
    mem_limit: 512m
    container_name: django
    ports:
      - "8000:8000"
    networks:
      - maid-net
    volumes:
      - ./backend-django:/app
    environment:
      - DEBUG=1
      - ALLOWED_HOSTS=*
      - DJANGO_SETTINGS_MODULE=config.settings
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/1
      - CELERY_TASK_ALWAYS_EAGER=0
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_DB=maid_app
      - POSTGRES_SCHEMA=django_app
      - POSTGRES_USER=django
      - POSTGRES_PASSWORD=password
    command: sh -c "python manage.py migrate && python manage.py loadmanifests && python manage.py runserver 0.0.0.0:8000"

  celery-worker:
    build:
      context: ./backend-django
      dockerfile: Dockerfile
    mem_limit: 512m
    container_name: celery-worker
    networks:
      - maid-net
    volumes:
      - ./backend-django:/app
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/1
      - CELERY_TASK_ALWAYS_EAGER=0
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_DB=maid_app
      - POSTGRES_SCHEMA=django_app
      - POSTGRES_USER=django
      - POSTGRES_PASSWORD=password
    depends_on:
      - django
      - redis
    command: sh -c "celery -A config worker -l info --pool=solo"

  celery-beat:
    build:
      context: ./backend-django
      dockerfile: Dockerfile
    mem_limit: 256m
    container_name: celery-beat
    networks:
      - maid-net
    volumes:
      - ./backend-django:/app
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/1
      - CELERY_TASK_ALWAYS_EAGER=0
    depends_on:
      - django
      - redis
    command: sh -c "celery -A config beat -l info"

  frontend-user:
    build:
      context: ./frontend-user
      dockerfile: Dockerfile
    mem_limit: 128m
    ports:
      - "3000:80"
    networks:
      - maid-net
    depends_on:
      - backend
      - django
    environment:
      - VITE_ASP_NET_BASE_URL=http://host.docker.internal:5000
      - VITE_DJANGO_BASE_URL=http://host.docker.internal:8000

  admin-panel:
    build:
      context: ./admin-panel
      dockerfile: Dockerfile
      args:
        ASP_NET_BASE_URL: "http://host.docker.internal:5000"
        DJANGO_BASE_URL: "http://host.docker.internal:8000"
    mem_limit: 128m
    ports:
      - "3001:80"
    networks:
      - maid-net
    depends_on:
      - backend
      - django

  mongo:
    mem_limit: 256m
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - maid-net

    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 7

  postgres:
    mem_limit: 128m
    image: postgres:16
    container_name: postgres
    restart: always

    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 7

    networks:
      - maid-net
    environment:
      POSTGRES_DB: maid_app
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5001:5432" # Tutaj zmieniłem na 5001, u was to działa na 5432
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    mem_limit: 128m
    ports:
      - "6379:6379"
    networks:
      - maid-net
    volumes:
      - redis-data:/data

volumes:
  mongo-data:
  postgres-data:
  redis-data:

networks:
  maid-net:
    driver: bridge
