.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  transition: opacity 0.75s, visibility 0.75s;
}

.dark .loader {
  background-color: rgba(0, 0, 0, 0.75);
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 20px solid #d9d9d9;
  border-top-color: #030213;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

.dark .loader::after {
  border: 20px solid #4a4a4a;
  border-top-color: #3b82f6;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}